* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  transition: 1s;
}
.title-blue {
  color: #0f084a;
}
/* Navbar */
.navbar {
  background-color: #0f084a;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.279);
}
.navbar a {
  font-size: large;
  font-weight: 400;
  color: white;
}
.navbar a:hover {
  font-size: large;
  font-weight: 600;
  color: cyan;
}

/* Hero Section */
#hero {
  background-image: url("asset/bgHero.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.cover {
  background-color: #0f084aa4;
  height: inherit;
}
#hero h1 {
  color: #eee;
}
#hero h3 {
  color: rgb(189, 189, 189);
}
#hero a {
  text-decoration: none;
}
#hero .btn {
  font-weight: 500;
}
/* About Section */
#about img {
  width: 400px;
}
.foto-about {
  justify-content: right;
  display: flex;
}

/* Project Section */
.card img {
  width: 400px;
}
#project .card-title {
  color: #0f084a;
}

/* Contact Section */
#contact {
  background-color: #0f084a;
}
@media screen and (max-width: 1400px) {
  .card img {
    width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .foto-about {
    justify-content: center;
    align-items: b;
  }
}
@media screen and (max-width: 992px) {
  .card-text {
    text-align: left;
  }
  .card-title {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #about img {
    width: 200px;
  }
  .foto-about {
    justify-content: center;
  }
  .d-lg-flex {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .card img {
    width: 200px;
  }
}
